<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.teampj.shop.order.OrderService">

	<resultMap type="com.teampj.shop.order.OrderDTO" id="dto">
		<result property="ocode" column="ocode"/>
		<result property="ucode" column="ucode"/>
		<result property="scode" column="scode"/>
		<result property="pcode" column="pcode"/>
		<result property="ocount" column="ocount"/>
		<result property="oaddress" column="oaddress"/>
		<result property="ozipcode" column="ozipcode"/>
		<result property="omemo" column="omemo"/>
		<result property="omethod" column="omethod"/>
		<result property="odate" column="odate"/>
		<result property="ostate" column="ostate"/>
		<result property="oshipcode" column="oshipcode"/>
		<result property="oshipstate" column="oshipstate"/>
		<result property="ocharge" column="ocharge"/>
		<result property="oshipcomp" column="oshipcomp"/>
	</resultMap>
	
	<resultMap type="com.teampj.shop.list.ListDTO" id="lto">
		<result property="pthumbnail" column="pthumbnail"/>
		<result property="pname" column="pname"/>
	</resultMap>
	
	<resultMap type="com.teampj.shop.TotalDTO" id="tto">
		<collection property="oto" resultMap="dto" />
		<collection property="lto" resultMap="lto" />
	</resultMap>
	
<!-- ocode insert 할 때, 칼럼값을 'O'||LPAD(SEQ_orderDB.NEXTVAL,5,0) -->

<select id="orderlist" resultMap="tto">
select p.pthumbnail, o.ocode, p.pname, o.ocount, o.ocharge
    from orderdb o left outer join listdb p on (o.pcode = p.pcode)
                   left outer join userdb u on (o.ucode = u.ucode)
    where (odate between add_months(sysdate, -(#{param2}+3)) and add_months(sysdate, -(#{param2})))
        and u.userid = #{param1}
</select>

<select id="orderdetail" resultMap="tto">
select p.pthumbnail, o.ocode, o.scode, o.pcode, p.pname, o.ocount, o.ocharge, o.ostate, o.oshipstate, o.oshipcode, o.ozipcode, o.oaddress, o.omemo, o.odate
	from orderdb o left outer join listdb p on (o.pcode = p.pcode) where ocode = #{param2} and ucode = (select ucode from userdb where userid = #{param1})
</select>

<update id="ordercancel">
update orderdb set ostate = 3 where ocode = #{param1} and ucode = (select ucode from userdb where userid = #{param2})
</update>

</mapper>